.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.app-content {
  display: grid;
  grid-template-columns: 8fr minmax(200px, 1fr);
  grid-gap: 3rem;
}

.list-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: repeat(auto-fit, 320px);
  grid-gap: 1rem;
}

.wrapper {
  border: 1px solid #eee;
  border-radius: 4px;
  overflow: hidden;
  display: grid;
  grid-template-rows: min-content max-content;
}

.content {
  display: grid;
  grid-template-rows: min-content min-content;
  position: relative;
}

.user-avatar {
  width: 100%;
  min-height: 200px;
}

.user-name {
  background-color: rgb(255, 99, 71, 0.4);
  padding: 1rem 0 1rem 0;
  margin: 0;
}

.spinner {
  /* margin: 8rem 1rem 1rem 1rem; */
  position: absolute;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}